<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout1}">
<head>
<meta charset="UTF-8">
<title>board detail</title>
</head>
<body>
	<div class="panel panel-default" layout:fragment="content">
		<form th:action="@{update.do}" method="post">
		  <div class="mb-3 row">
		  	 <input type="hidden" class="form-control" name="bno" th:value="${board.bno}">
			  <div class="mb-3 row">
			    <label for="title" class="col-sm-2 col-form-label">제목</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" name="title" th:value="${board.title}">
			    </div>
			  </div>
			  <div class="mb-3 row">
			    <label for="writer" class="col-sm-2 col-form-label">작성자</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" name="writer" th:value="${board.writer}">
			    </div>
			  </div>
			  <div class="mb-3 row">
			    <label for="content" class="col-sm-2 col-form-label">내용</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" name="content" th:value="${board.content}">
			    </div>
			  </div>
			  <div class="mb-3 row">
			    <label for="regdate" class="col-sm-2 col-form-label">작성일</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" name="regdate" th:value="${board.regdate}">
			    </div>
			  </div>
			  <div class="mb-3 row">
			    <label for="updatedate" class="col-sm-2 col-form-label">수정일</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" name="updatedate" th:value="${board.updatedate}">
			    </div>
			  </div>
			  <div class="mb-3 row">
				<input class="btn btn-success" type="submit" value="저장하기">
			  </div>
		  </div>
		</form>
	</div>
</body>
</html>