<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout1}">
<head>
<meta charset="UTF-8">
<title>board insert</title>
<th:block>
	<style>
		*, label, input {
			box-sizing: border-box;
		}
		.board_input_wrap {
			padding: 30px;
		}
		.mb-3.row {
			margin: 0;
			margin-bottom: 15px;
		}
		.mb-3.row:last-child {
			margin-top: 20px;
			text-align: right;
			margin: 0;
		}
	</style>
</th:block>
</head>
<body>
	<div class="content-wrap panel panel-default" layout:fragment="content">
		<form th:action="@{insert.do}" method="post">
		  <div class="board_input_wrap">
			  <div class="mb-3 row">
			    <label for="title" class="col-sm-2 col-form-label">제목</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" name="title">
			    </div>
			  </div>
			  <div class="mb-3 row">
			    <label for="writer" class="col-sm-2 col-form-label">작성자</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" name="writer">
			    </div>
			  </div>
			  <div class="mb-3 row">
			    <label for="content" class="col-sm-2 col-form-label">내용</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" name="content">
			    </div>
			  </div>
			  <div class="mb-3 row">
				<input class="btn btn-success" type="submit" value="저장하기">
			  </div>
		  </div>
		</form>
	</div>
</body>
</html>