<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout1}">
<head>
<meta charset="UTF-8">
<title>board list</title>
	<th:block layout:fragment="style1">
		<style>
			table, th, td {
				border: 1px solid #666;
			}
			table {
				width: 90%;
				margin: 0 auto;
    			table-layout: fixed;
   				border-collapse: collapse;
				text-align: center; 
			}
			th {
				background-color: #ffe1e7;
			}
			.btn_wrap {
				width: 90%;
				margin: 15px auto 20px;
				text-align: right;
			}
			.btn_write {
				padding: 7px 10px;
				background: green;
				border-radius: 5px;
				color: #fff;
				text-decoration: none;
			}
			nav > div {
				text-align: center;
			}
		</style>
	</th:block>
</head>
<body>
	<div class="panel panel-default" layout:fragment="content">
		<p>[[${message}]]</p>
		<p class="btn_wrap">
			<a th:href="@{insert.do}" class="btn_write" >게시글작성</a>
		</p>
		<hr/>
		<div class="pull-left">
		  <select id="searchType">
		     <option>전체</option>
		     <option value="title" th:selected="${pageVO.type=='title'}">제목</option>
		     <option value="content" th:selected="${pageVO.type=='content'}">내용</option>
		     <option value="writer" th:selected="${pageVO.type=='writer'}">작성자</option>
		  </select>
		  <input type="text" id="searchKeyword" th:value="${pageVO.keyword}" />
		  <button id="searchBtn">조건검색</button>
		</div>
		<table>
			<tr>
				<th>글번호</th>
				<th>제목</th>
				<th>내용</th>
				<th>작성자</th>
				<th>등록일</th>
				<th>수정일</th>
				<th>삭제</th>
			</tr>
			<tr th:each="board:${blist.result.content} ">
				<td>
					<a th:href="@{detail.do(bno=${board.bno}, page=${pageVO.page}, size=${pageVO.size}, type=${pageVO.type}, keyword=${pageVO.keyword})}">[[${board.bno}]]</a>
					<span class="badge bg-secondary">
						[[${#lists.size(board.replies)}]]	
					</span>
					<!--/* 
					쿼리 호출 문제가 있어서 주석처리함
					<span class="badge bg-primary">
						[[${board.replies.size()}]]	
					</span> */-->
				</td>
				<td>[[${board.title}]]</td>
				<td>[[${board.content}]]</td>
				<td>[[${board.writer}]]</td>
				<td>[[${board.regdate}]]</td>
				<td>[[${board.updatedate}]]</td>
				<td>
					<button th:onclick="call([[${board.bno}]])">삭제하기</button>
				</td>
			</tr>
		</table>
		
		<!-- paging -->
		<nav>
		   <div>
		     <ul class="pagination">
		       <li class="page-item" th:if="${blist.prevPage}">
		         <a th:href="${blist.prevPage.pageNumber}+1">PREV [[${blist.prevPage.pageNumber}+1]]</a>
		       </li>
		        <li class="page-item" th:classappend="${p.pageNumber==blist.currentPageNum-1}?active:''" 
		                             th:each="p:${blist.pageList}">
		         <a th:href="${p.pageNumber}+1">[[${p.pageNumber}+1]]</a>
		       </li>  
		       <li class="page-item" th:if="${blist.nextPage}">
		         <a th:href="${blist.nextPage.pageNumber}+1">NEXT [[${blist.nextPage.pageNumber}+1]]</a>
		       </li>   
		     </ul>
		   </div>
		</nav>
		<!-- //paging -->
		<!-- form -->
		<form id="f1" th:action="@{/webboard/list.do}" method="get">
		    <input type="hidden" name="page" th:value="${blist.currentPageNum}">
		    <input type="hidden" name="size" th:value="${blist.currentPage.pageSize}">
		    <input type="hidden" name="type" th:value="${pageVO.type}">
		    <input type="hidden" name="keyword" th:value="${pageVO.keyword}">
		</form>
		<!-- //form -->
	</div>
	<!-- //end_content -->
	<th:block layout:fragment="script1">
		<script th:inline="javascript">
			let msg = /*[[${message}]]*/null;	//값이 없을때 대체할 값
			if(msg!=null) alert(msg);
			function call(bno) {
				location.href="delete.do?bno=" + bno;
			}
			
			//Paging
			var formObj = $("#f1");
			$(".pagination a").click(function(e){
				e.preventDefault(); //a tag link 클릭 제어
				formObj.find("[name='page']").val($(this).attr('href'));
				//formObj.attr("action", "/webboard/list.do");
				formObj.submit();
			});
			
			//Search
			$("#searchBtn").click(function(){
				var typeStr = $("#searchType").find(":selected").val();
				var keywordStr = $("#searchKeyword").val();
				formObj.find("[name='type']").val(typeStr);
				formObj.find("[name='keyword']").val(keywordStr);
				formObj.find("[name='page']").val(1);
				formObj.submit();
			});
			
			//엔터 Trigger
			const inputWord = document.querySelector("#searchKeyword");
			if (inputWord) {
				inputWord.addEventListener("keyup", function(e) {
					if (e.keyCode === 13) {
						document.querySelector("#searchBtn").click();
					};
				});
			}
		</script>
	</th:block>
</body>
</html>