<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="~{layout/layout1}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<th:block layout:fragment="style1">
<style>
 div{
  font-family: arial;
  font-size: 15px;
  margin: 0 auto;
  width: 70%;
  position: relative;
  
 }
 img {   
   position: relative;
   left: 30%; 
   width:400px;height: 400px;
   margin: 0 auto;
   }
  h1,h2{text-align: center;} 
</style>
</th:block>
</head>
<body>
	<div class="panel panel-default" layout:fragment="content1">
		<div>
			<img th:src="@{/images/404-error-3060993_640.png}"/>
			<h1>★★★서버에서 보낸메시지★★★</h1>
			<h2>인라인방법:[[${msg}]]</h2>
			<p th:text="${msg}">tag속성사용방법</p>
			<h2 id="here"></h2>
		</div>
    </div>	
    <th:block layout:fragment="script1">
    <script>
 		 here.innerHTML = "입력주소 확인:" + location.href;
	</script>
</th:block>	

</body>
</html>