<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout1}">

<head>
	<meta charset="UTF-8">
	<title>Thymeleaf review</title>
	<th:block layout:fragment="style1">
		<style>
		  table,tr,td,th { border:1px solid black;}
		</style>
	</th:block>
</head>
<body>
	<div>
		<table>
			<tr th:each="dept:${dlist}">
				<td th:text="${dept.departmentId}"></td>
				<td th:text="${dept.departmentName}"></td>
				<td th:text="${dept.locationId}"></td>
				<td th:text="${dept.managerId}"></td>
			</tr>
		</table>
		<hr />
		<table>
			<tr th:each="emp:${elist}">
				<td th:text="${emp.employeeId}"></td>
				<td th:text="${emp.firstName}"></td>
				<td th:text="${emp.salary}"></td>
			</tr>
		</table>
	</div>
	<th:block layout:fragment="script1">
		<script>
			console.log("---------");
		</script>
	</th:block>
</body>
</html>